.testimonials__grid {
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.testimonials__col {
  display: grid;
  gap: 32px;

  animation: lineUp 20s linear infinite;

}


@keyframes lineUp {
  0% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-50%);
    opacity: 1;
    filter: blur(0px);
  }
  97% {
    transform: translateY(-50%);
    opacity: 0;
    filter: blur(10px);
  }
  98% {
    transform: translateY(0%);
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
    filter: blur(0px);
  }
}

